.card {
  background-color: lightgreen;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
  padding: 10px;

}

.card:hover {
  animation-name: card-anim;
  animation-duration: .5s;
  transform: scale(1.05);
  box-shadow: 2px 4px 8px #aaa,
              -1px 0px 8px #ddd;
}
@keyframes card-anim {
  0% {
    transform: scale(1.07);
  }

  50% {
    transform: scale(1.1);
  }
  
}